body{
    background-image: url(weatherBg.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
@media (min-width: 800px){
    body{
        /* Your styling goes here */
        background-size: 100vw 100vh;
    }
}
.img-fluid{
    max-width: 50%;
    margin: auto;
    height: auto;
}
.col{
    font-size: 1.5rem;
    text-align: center;
}
.weather-description{
    text-transform: capitalize;
    font-weight: bolder;
}
.temperature{
    font-weight: bold;
}
.hidden{
    display: none;
}